// var(--secondary) : black;
$form-dark : black;
$form-light : white;
$form-trans: 400ms ease-out;


.icon,
.input {
  appearance: none;
  width: 100%;
  outline: none;
  background-color: rgba(var(--primary), 1);
  color: rgba(var(--secondary), 1);
  border: 0;
  cursor: pointer;

  &::placeholder {
    transition: color $form-trans;
    color: rgba(var(--secondary), 0.5);
  }

  .theme-dark & {
    background-color: rgba(var(--secondary), 0.06);
    backdrop-filter: saturate(120%);

    &:hover {
      background-color: rgba(var(--secondary), 0.12);
    }

    &:focus {
      background-color: rgba(var(--primary), 0.12);
      backdrop-filter: saturate(120%) brightness(80%);
    }
  }

  .theme-light & {
    background-color: rgba(var(--primary), 0.4);
    backdrop-filter: saturate(120%) brightness(105%);

    &:hover,
    &:focus {
      background-color: rgba(var(--primary), 0.8);
    }
  }
}




.label {
  transition: color 400ms ease-out;
  font-size: var(--t0);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.125em;
  padding: calc(var(--grid-gutter) * 0.5) calc(var(--grid-gutter));
}

// error message, tips, etc
.tip {
  background: linear-gradient(
    to right,
    rgba(white, 1.0) 20%,
    rgba(white, 0.1) 40%,
    rgba(white, 0.1) 60%,
    rgba(white, 1.0) 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.counter {
  transition: color 400ms ease-out, background-color 400ms ease-out;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  bottom: calc(var(--grid-gutter) * 1);
  right: calc(var(--grid-gutter) * 1);
  border-radius: var(--note-radius-child);
  font-variant-numeric: tabular-nums;
}
