// var(--secondary) : black;
$form-dark : black;
$form-light : white;
$form-trans: 350ms ease-out;


.input {
  background-color: rgba(var(--secondary), 0.08);
  color: rgba(var(--secondary), 1);
  transform: translate3d(0,0,0);
  backdrop-filter: saturate(100%) brightness(100%);

  &::placeholder {
    transition: color $form-trans;
    color: rgba(var(--secondary), 0.5);
  }

  &:hover {
    .theme-dark & {
      backdrop-filter: saturate(150%) brightness(120%);
    }

    .theme-light & {
      backdrop-filter: saturate(130%) brightness(100%);
    }
  }

  &:focus {
    .theme-dark & {
      backdrop-filter: saturate(150%) brightness(120%);
    }

    .theme-light & {
      backdrop-filter: saturate(130%) brightness(100%);
    }

    &::placeholder {
      opacity: 0;
    }
  }
}


.label {
  font-size: var(--t0);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.125em;
  padding: calc(var(--grid-gutter) * 0.5) calc(var(--grid-gutter));
}

// error message, tips, etc
.tip {
  background: linear-gradient(
    to right,
    rgba(white, 1.0) 20%,
    rgba(white, 0.1) 40%,
    rgba(white, 0.1) 60%,
    rgba(white, 1.0) 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.counter {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  bottom: calc(var(--grid-gutter) * 1);
  right: calc(var(--grid-gutter) * 1);
  border-radius: var(--note-radius-child);
  font-variant-numeric: tabular-nums;


  .theme-dark & {
    backdrop-filter: saturate(150%) brightness(80%);
  }
}
