
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
      My stuff
      ========================================================================== */

// base styles for erry damn thang
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern" 1, "pnum" 1, "liga" 1;
  font-kerning: normal;
  font-synthesis: none;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// highlighted text
::selection {
  // background: rgba(var(--color-foreground), 0.8);
  // color: var(--background);
}

// document styles
html {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  font-family: 'hi';
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: background-color 700ms ease-in-out, color 700ms ease-in-out;
  background-color: rgba(var(--primary), 1);
  color: rgba(var(--secondary), 1);
}

html,
body {
  min-height: 100vh;
}

#__app,
#__layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

// set focus color on interactive elements
a[href],
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
video:not([disabled]),
iframe,
[tabindex],
[contentEditable="true"] {
  font-family: inherit;
  font-size: inherit;

  &:not([tabindex="-1"]) {
    outline-color: blue;
  }
}

a {
  // transition: color $trans-duration/4 $trans-ease, border-color $trans-duration/2 $trans-ease;
  color: blue;
  text-underline-position: under;
  text-decoration: underline;
  // font-family: 'egstad-mono', monospace;
  // text-transform: uppercase;
  // border-bottom: 1px solid blue;

  &:hover {
    border-color: blue;
  }

  // &:active {}

  // &:visited {}
}

hr {
  // border-color: var(--foreground);
}

// image styles
video,
img {
  max-width: 100%;
  display: block;

  &:not([src]) {
    visibility: hidden;
  }
}

iframe {
  width: 100%;
}
