$t-headline: clamp(3em, 5vw, 3.5em);
$t-input: 33px;


.t-headline {
  font-size: $t-headline;
  line-height: 0.75;
}


.t-link {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 16px !important;
  line-height: 1;
  color: inherit;
  padding-top: calc(var(--grid-gutter) * 0.3);
  transform: translateY(3px);
  max-width: 100%;
}
