$t-headline: 72px;
$t-input: var(--t1);

.t {
  &s0 {
    font-size: var(--t0);
  }
  &s1 {
    font-size: var(--t1);
    line-height: var(--t1-line);
    letter-spacing: 0.08em;
  }
  &s2 {
    font-size: var(--t2);
    line-height: var(--t2-line);
    letter-spacing: 0.06em;
  }
  &s3 {
    font-size: var(--t3);
    line-height: var(--t3-line);
    letter-spacing: 0.04em;
  }
  &s4 {
    font-size: var(--t4);
    line-height: var(--t4-line);
  }
  &s5 {
    font-size: var(--t5);
    line-height: var(--t5-line);
  }
  &s6 {
    font-size: var(--t6);
    line-height: var(--t6-line);
  }
  &s7 {
    font-size: var(--t7);
    line-height: var(--t7-line);
  }
}


.t-headline {
  font-size: $t-headline;
  line-height: 0.75;
}


.t-link {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 16px !important;
  line-height: 1;
  color: inherit;
  padding-top: calc(var(--grid-gutter) * 0.3);
  transform: translateY(3px);
  max-width: 100%;
}
