:root {
  --grid-gutter: 15px;
  --input-height: 60px;
  --note-radius: 32px;
  --note-radius-child: 18px;
  --note-icon-size: 54px;

  --timing-elastic: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.theme-light {
  --primary: 255, 255, 255;
  --secondary: 43, 41, 41;
  --tertiary: 255, 255, 255;
  --note-shadow: 0,0,0;

  --note-default-bg: #FFEC87;
  --note-default-fg: #3C3201;

  --note-love-bg: #FFBBD3;
  --note-love-fg: #720037;

  --note-cute-bg: #E1EAEC;
  --note-cute-fg: #3B3201;

  --note-sad-bg: #BAEEFE;
  --note-sad-fg: #013A7D;

  --note-sparkle-bg: #FFEC87;
  --note-sparkle-fg: #3C3201;

  --note-curious-bg: #DED3FF;
  --note-curious-fg: #1B0FA0;
}


.theme-dark {
  --primary: 10, 10, 10;
  --secondary: 215, 211, 211;
  --tertiary: 50, 49, 49;
  --note-shadow: 0,0,0;

  --note-default-bg: #382400;
  --note-default-fg: #A1977D;

  --note-love-bg: #4A0B1E;
  --note-love-fg: #B47182;

  --note-cute-bg: #1c1c1c;
  --note-cute-fg: #E0DCDC;

  --note-sad-bg: #021E68;
  --note-sad-fg: #4C6AD6;

  --note-sparkle-bg: #0F2606;
  --note-sparkle-fg: #4A835D;

  --note-curious-bg: #250B5E;
  --note-curious-fg: #8C67DA;
}
