:root {
  --grid-gutter: 15px;
  --input-height: 60px;
  --note-background: #fff;
  --note-foreground: #000;
  --note-radius: 32px;
  --note-radius-child: 18px;
  --note-icon-size: 54px;

  --note-default-bg: #FFEC87;
  --note-default-fg: #3C3201;

  --note-encouraging-bg: #FFBBD3;
  --note-encouraging-fg: #720037;

  --note-sad-bg: #BAEEFE;
  --note-sad-fg: #013A7D;

  --note-curious-bg: #DED3FF;
  --note-curious-fg: #1B0FA0;

  --note-cute-bg: #E1EAEC;
  --note-cute-fg: #3B3201;

  --timing-elastic: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
